BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true

AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ReflowComments: false

IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
