# CMake
build/
output/

# VSCode
.vscode/
.vscodeignore
*.vsix

# clangd
.cache
.clangd

# Program output
*.dot
*.o
*.elf
*.bin
valgrind-*

# Python
.venv
past_runs.toml
__pycache__

# Other
workspace.zsh