# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output folder
.idea/
out/
cmake-build-debug/
**/CMakeLists.txt
nbproject/

# IDE
.kdev4/
nn.kdev4

# Output
/nn
lobj/
*.generated*
autogen.mk

# VSCode
.vscode/
.vscodeignore
*.vsix

# npm
package-lock.json