# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output folder
.idea/
out/
cmake-build-debug/
**/CMakeLists.txt
nbproject/

proto/__pycache__/

proto/venv/

proto/examples/

\.proto2/proto/venv/

\.proto2/proto/__pycache__/

\.proto2/proto/examples/
